{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <title>{% block title %}My Base Template {% endblock %}</title>
    <script src="{% static 'BlueHive/jquery.min.js' %}" type="text/javascript"> </script>
    <script src="{% static 'BlueHive/jquery.jeditable.mini.js' %}" type="text/javascript"> </script>
    <script src="{% static 'BlueHive/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'BlueHive/css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'BlueHive/css/dropzone.css' %}">
    <link rel="shortcut icon" href="{%  static 'BlueHive/favicon/favicon.ico' %}">

    {% block head %} {% endblock %}


    </head>
    <body>


    <div id="page">


    <div id="content">
            {% block content %} {% endblock %}
        <img src="{% static 'BlueHive/images/background.gif' %}" />
    </div>
    </div>

    </body>
    </html>