{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Base Template {% endblock %}</title>
    <script src="{% static 'BlueHive/jquery.min.js' %}" type="text/javascript"> </script>
    <script src="{% static 'BlueHive/jquery.jeditable.mini.js' %}" type="text/javascript"> </script>
    <script src="{% static 'BlueHive/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'BlueHive/css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'BlueHive/css/dropzone.css' %}">
    <link rel="shortcut icon" href="{%  static 'BlueHive/favicon/favicon.ico' %}">

    {% block head %} {% endblock %}


    </head>
    <body>


    <div id="page">

            <div id="sidebar">
            {% block sidebar %}

    <ul>
            <li>Admin</li>
            <li><a href="{% url 'BlueHive:event_overview' %}">Events</a></li>
            <li><a href="{% url 'BlueHive:event_add' %}">Add Event</a></li>
            <li><a href="{% url 'BlueHive:admin_users' %}">User management</a></li>
            <li><a href="{% url 'BlueHive:group_overview' %}">Group Management</a></li>
            <li></li>
            <li><a href="{% url 'BlueHive:user_logout' %}">Logout</a></li>

    </ul>
    {% endblock %}
    </div>


    <div id="content">
            {% block content %} {% endblock %}
    </br>
    <img src="{% static 'BlueHive/images/background.gif' %}" />
    </div>
    </div>

    </body>
</html>