{% extends "BlueHive/base.html" %}



{%  block content %}
<h1>Newly registered users</h1>
{% for user in new_users %}
<form action="/admin/users/status/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        <label for="LastName">{{ user.last_name }}</label>
        <label for="FirstName">{{ user.first_name }}</label>
        <label for="UserCity">{{ user.city }}</label>
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" name="value" value="show">
        <input type="submit" name="value" value="activate">
        <input type="submit" name="value" value="delete">
    </div>
</form>

{% endfor %}

<h1>Activated users</h1>
{% for user in active_users %}
<form action="/admin/users/status/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        <label for="LastName">{{ user.last_name }}</label>
        <label for="FirstName">{{ user.first_name }}</label>
        <label for="UserCity">{{ user.city }}</label>
        <label for="UserRating">{{ user.rating.value }}</label>
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" name="value" value="edit">
        <input type="submit" name="value" value="deactivate">
    </div>
</form>

{% endfor %}


<h1>Deactivated users</h1>
{% for user in deactivated_users %}
<form action="/admin/users/status/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        <label for="LastName">{{ user.last_name }}</label>
        <label for="FirstName">{{ user.first_name }}</label>
        <label for="UserCity">{{ user.city }}</label>
        <label for="UserRating">{{ user.rating.value }}</label>
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" name="value" value="edit">
        <input type="submit" name="value" value="activate">
    </div>
</form>

{% endfor %}


{% endblock %}