{% extends "BlueHive/base_admin.html" %}

{% block title %}Event Overview{% endblock %}

{%  block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Events overview</div>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered ">
            <div class="row">
                {% if events %}
                <div class="row element-block-title">
                    <div class="col-xs-4">
                        <p>Event</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Location</p>
                    </div>
                    <div class="col-xs-2 text-center">
                        <p>Beginning</p>
                    </div>
                    <div class="col-xs-2 text-center">
                        <p>Ending</p>
                    </div>
                </div>
                {% for event in events %}
                <div class="row element-block">
                    <div class="col-xs-4">
                        <p>{{ event.name }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-small">{{ event.location }}</p>
                    </div>
                    <div class="col-xs-2">
                        <p class="text-smaller text-center">{{ event.begin_time|date:"d.m.Y"|lower }} <br> {{ event.begin_time|date:"H:i"|lower }}</p>
                    </div>
                    <div class="col-xs-2">
                        <!--TODO if date show date format-->
                        <p class="text-smaller text-center">{{ event.end_time }}</p>
                    </div>
                </div>
                <!--TODO show only on click-->
                <div class="row element-block-details">
                    <div class="col-xs-12">
                        <!--TODO get values-->
                        <p class="text-smaller">(X Users applied / Y Users acctepted)</p>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3">
                                <form action="{% url 'BlueHive:event_edit' event.id %}">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                            <div class="col-xs-3">
                                <form action="{% url 'BlueHive:event_status' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="event_id" value="{{ event.id }}">
                                    <!--TODO isnt that deleting ?-->
                                    <button class="negative-color" type="submit" name="value" value="deactivate">Deactivate</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="category-title-register">No events.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>











<h1>Event Overview</h1>

    {% for event in events %}
    <div class="adminevent">
        <div class="fieldWrapper">
            <label for="EventName">{{ event.name }}</label>
            <label for="Location">{{ event.location }}</label>
            <label for="Date">{{ event.begin_time|date:"d.m.Y"|lower }}</label>
            <label for="Time">{{ event.begin_time|date:"H:i"|lower }} - {{ event.end_time }}</label>
        </div>
        <div class="fieldWrapper">
            <label for="AppliedUsers">X Users applied</label>
            <label for="AcceptedUsers">Y Users acctepted</label>
            <label for="EditEvent"><a href ="{% url 'BlueHive:event_edit' event.id %} ">Edit Event</a></label>
            <form action="{% url 'BlueHive:event_status' %}" method="post" style="display: inline;">{% csrf_token %}
                <input type="hidden" name="event_id" value="{{ event.id }}">
                <input type="submit" name="value" value="deactivate">
            </form>
        </div>
        <p>Users who applied</p>
        <form action="{% url 'BlueHive:event_overview' %}" method="post" style="display: inline;">{% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            {% for event_request in event.get_event_requests %}
                <div class="fieldWrapper">
                    <label for="Name">{{ event_request.user_id.first_name }} {{ event_request.user_id.last_name }}</label>
                    <label for="Comment">{{ event_request.user_comment }}</label>
                    <label for="Rating">{{ event_request.user_id.rating }} stars</label>
                    <input type="radio" name="userid_{{ event_request.user_id.id }}" value="rejected" {% if event_request.status == -1 %} checked {% endif %}> rejected
                    <input type="radio" name="userid_{{ event_request.user_id.id }}" value="waiting" {% if event_request.status == 0 %} checked {% endif %}> waiting
                    <input type="radio" name="userid_{{ event_request.user_id.id }}" value="accepted" {% if event_request.status == 1 %} checked {% endif %}> accepted
                </div>
            {% endfor %}
            <input type="submit" name="value" value="Apply Changes">
        </form>

    </div>
    {% endfor %}

{% endblock %}