{% extends "BlueHive/base.html" %}
{% block title %}BlueHive Login{% endblock %}


{%  block content %}
<h1>{{ message }}</h1>

    <form action="/user/login/" method="post">{% csrf_token %}
        <label for="username">E-mail address:</label>
        <input type="text" name="email" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login" />

    </form>

<h1>Are you new here?</h1>
<h2><a href="{% url 'BlueHive:user_register' %}">Register now!</a></h2>
{% endblock %}