{% extends "BlueHive/base.html" %}

{% block head %}
<script type="text/javascript" charset="utf-8">

    $(function() {

        $(".click").editable("/user/events/edit_comment/", {
            submitdata: { csrfmiddlewaretoken : "{{ csrf_token }}", _method: "post"},
            select : true,
            submit : 'OK',
            cancel : 'cancel',
            cssclass : "editable"
        });


    });
</script>
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/user/events">Event overview </a></li>
    <li><a href="/user/data">Change Data</a></li>
    <li><a href="/user/logout">Logout </a></li>
    <li><a href="/superadmin/">Admin Backend</a></li>
</ul>
{% endblock %}

{%  block content %}

<h1>My Events</h1>

{% for event_request in applied_events %}
<p>{{ event_request.event_id.name }} ; {{ event_request.event_id.begin_time }} with the status {{ event_request.status }} and comment </p><p class="click" id="{{event_request.event_id.id }}">{{ event_request.user_comment }}</p>
{% endfor %}


<h1>New Events</h1>

{% for event in new_events %}
<form action="/user/events/{{ event.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="fieldWrapper">
       {{ event.name }}  Comment: <input type="text" name="user_comment">
        <input type="submit" value="Apply for event"/>
        {{ form.email }}
    </div>

</form>


{% endfor %}



{% endblock %}